/*@media (max-width: 300px -400px) {

  #menu {
  	display: block;
  	position: fixed;
  	bottom: 0;
  	center: 0;
  	height: 40px;
  	z-index: 70;
  }
.topcenter{
	padding: 0;
	display: block;
}
.headerPic{
	margin: 3% 0 3% 0;
  height:30%;
}
.links{
	margin: 0 auto;
	padding: 0;
	text-align: center;
	padding-left: 0;
}
.theIcon img {
  padding: 0 0 0 0;
	margin: 0 auto;
  text-align: center;
}

.logo{
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
}


@media (max-width: 900px -1000px) {
	.topcenter{
		padding: 0;
		display: block;
		margin: 0 auto;
	}
.headerPic{
	margin: 3% 0 3% 0;
}
.links{
	margin: 0 auto;
	padding: 0;
	text-align: center;
	padding-left: 0;
}
.theIcon img {
	padding: 0;
	margin: 0 auto;
  text-align: center;
}


}*/
