body{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
.movement{
	opacity: .8;
	// font-size: 32px;
	// margin: 0 auto;
	white-space:nowrap;
	overflow: hidden;
	width: 30em;
	animation: type 5s steps(50, end) 1;

}
@keyframes type{
	from{ width: 0;}
}
span{
	animation: blink 1s infinite;
}
@keyframes blink{
	to{ opacity: .0;}
}
.headerPic{
	// max-height: 400px;
	width: 100%;
	padding: 0;
	margin: 0;
}
.socialLinks{
	padding-left: 3px;
	margin-left: 15px;
}

.socialLinks img{
	max-height: 35px;
}
.links {
	font-size: 15px;
	text-decoration: none;
	color:black opacity(87%);
	padding-left: 32%;
	text-align: center;
	// padding-top: 20px;
	display: inline-block;
}
a{
	text-decoration: none;
	color:black opacity(87%);
	list-style: none;
}
a:link, a:active, a:visited{
	color:black;
}
.center{
	text-align: center;
	margin: 0 auto;
}
h1{
	font-size: 75px;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	color:black opacity(87%);
	font-weight: lighter;

}
h2{
	font-size: 60px;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	color:black opacity(87%);
	font-weight: lighter;

}
h3{
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	color:black opacity(87%);
	font-weight: lighter;

}
h4{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	color:black opacity(87%);
	font-weight: lighter;

}
.topCenter{
	margin: 0 auto;
	text-align: center;
	padding-left: 30px;
	opacity: .8;
}
.bold{
	font-weight: bolder;
	font-style: italic;

}
p{
	font-weight: 200;
	display: inline-block;
}
.descrip{
	width: 70%;
	text-align: left;
	padding: 0;
	margin: 0;
	display: inline-block;

}
.theIcon{
	display: inline-block;
	vertical-align: middle;
}
.theIcon img{
	max-height: 50px;
	margin: 0 0 50% 0;
	padding: 40px;
	// margin-bottom: 50%;
	display: inline-block;
}
.text{
	display: inline-block;
	padding: 0;
	margin: 0;
	vertical-align: middle;

}
.appTitle{
	padding: 0;
	margin: 0;
}






////////////////////////////////////////////
@media (max-width: 300px -400px) {
.topcenter{
	padding: 0;
	display: block;
}
.headerPic{
	margin: 3% 0 3% 0;
}
.links{
	margin: 0 auto;
	padding: 0;
	text-align: center;
	padding-left: 0;
}

}
@media (max-width: 900px -1000px) {
	.topcenter{
		padding: 0;
		display: block;
		margin: 0 auto;
	}
.headerPic{
	margin: 3% 0 3% 0;
}
.links{
	margin: 0 auto;
	padding: 0;
	text-align: center;
	padding-left: 0;

}


}
