body {
  background: white;
  color: gray; }

p {
  font-size: 24px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 5s steps(50, end) 1; }

@keyframes type {
  from {
    width: 0; } }

span {
  animation: blink 1s infinite; }

@keyframes blink {
  to {
    opacity: .0; } }
